<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sagacito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--   logo bar-->
    <div class="top">
        <img src="/images/logo.png" alt="" id="logo">
        <h3>Transact</h3>
        <img src="/images/vertical_dots.png" alt="" id="logor">
    </div>
    
<!--    navbar-->
    <div class="row" id="middle">
       <div class="col-xs-2 col-md-2"><img src="/images/customer_info.png" alt="" class="navbard"></div>
       <div class="col-xs-2 col-md-2"><img src="/images/requirements.png" alt="" class="navbard"></div>
       <div class="col-xs-2 col-md-2"><img src="/images/transition.png" alt="" class="navbard"></div>
       <div class="col-xs-2 col-md-2"><img src="/images/mandatory.png" alt="" class="navbard"></div>
       <div class="col-xs-2 col-md-2"><img src="/images/output.png" alt="" class="navbard"></div>
    </div>
    <br>
    
<!--    Body-->
    <div id="main">
        <img src="/images/horizontal_dots.png" alt="" id="more"> <br> <br>
        <p>More</p> <br> <br>
        <center>
        <img src="/images/name_dropdown.png" alt=""> <br>
        <img src="/images/name_dropdown.png" alt=""> <br>
        <img src="/images/from_to.png" alt=""> <br> <br>
        <img src="/images/Add.png" alt="">
        </center>
        
    </div>
    
<!--    message-->
    <div id="message">
       <br>
        <img src="/images/message.png" alt="" class="message">
    </div>
    
<!--    footer-->
    <div class="end">
       <br>
        <div class="col-xs-4 col-md-4">Report Card</div>
        <div class="col-xs-4 col-md-4">Sales Guidance</div>
        <div class="col-xs-4 col-md-4">Transact</div>
    </div>
</body>
</html>